@{
    ViewData["Title"] = "Home Page";
}

<h2>Intro</h2>

<p>This is a sample app for adding custom claims to a user in an MVC app using OpenID Connect + Cookies.</p>

<p>You can click the Claims link in the nav bar to trigger authentication and see the resulting claims.</p>